$color-brown-1: #f3eeea;
/*
Mis colores
#f3eeea - rgba(243,238,234,0.5)
#e8d7c6 - rgba(232,215,198,0.5)
#cdb199 - rgba(205,177,153,0.5)
#897968 - rgba(138,122,105,0.5)
#3c352d - rgba(60,53,45,0.5)
*/

//COLORS
$color-brown-2: #e8d7c6;
$color-brown-3: #cdb199;
$color-brown-4: #897968;
$color-brown-5: #3c352d;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-essential: #028b00;
$color-recommended: #7bd235;
$color-optional: #feb703;
$color-unnecessary: #fd402c;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
